<!DOCTYPE html>
<html lang="{{ request.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page_title }} - {{ shop.name }}</title>

  {{ content_for_header }}

  <link rel="stylesheet" href="{{ 'styles.css' | asset_url }}">
</head>
<body>
  {% if section.settings.header_enabled != false %}
    {% section 'header' %}
  {% endif %}
  
  <main role="main">
    {{ content_for_layout }}
  </main>
  
  {% if section.settings.footer_enabled != false %}
    
  {% endif %}

  <!-- Justo antes de cerrar </body> -->
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script src="{{ 'particles-config.js' | asset_url }}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.150.1/build/three.min.js"></script>
  <script src="{{ 'background.js' | asset_url }}" defer></script>
  <script src="{{ 'script.js' | asset_url }}" defer></script>
</body>
</html>
